@media (max-width:400px){
    #back-to-top{
        z-index:-10;
    }
    #result .hai2{
        left: -30px;
    }
    #techknows .sticky{
       display: none;
    }
    #techknows .imagesround{
        padding: 20px 0;
        display: flex;
    }
    #techknows .imagesround .img1,
    #techknows .imagesround .img2,
    #techknows .imagesround .img3,
    #techknows .imagesround .img4{
     margin: 10px auto ; 
    
    }
    
    #submit-btn{
        margin:0 120px;
    }
    
    #home-heading p{
        padding-top: 20px;
    }
    #process4 .planning{
      
        top: 100px;
    }
    #result .card2::before{
      
        left: 10px;
    }
    #result2 .card4::before{
     
        left: 10px;
    }
    #techknows .leader-overlay{
       display: none;
    }
  
    #process2 .process1,
    #process4 .process1{
     
      top: 45px;
     
        }
}